header {
    display: grid;
    background-color: #e9e9e9;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding:2rem 2.5rem 1.5rem 2.5rem;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 15px #30303050;
}
#hugelogo{
    font: 900 90px 'Rubik', poppins, sans-serif;
}
.firsthead{
    display: grid;
    grid-template-columns: 60% 40% ;

}
.firsthead li {
    list-style-type: none;
}
.headlist{
    display: grid;
    justify-content: end;
    align-items: center;
    grid-auto-flow:column;
    column-gap: 1rem;
}

.back{
    width:1rem;
}

body{
    overflow-y: scroll;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    background-color:#fff;
    min-width: 160vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    text-decoration: none;
    color: #00f;
}

*{
    font-family: 'Rubik', poppins, sans-serif;
}

p {
    font-size:19px;
    line-height: 1.6em;
}
strong{
    font-size: 26px;
}
.borderleft{
    background-color: #80202050;
}

.every{
    box-sizing: border-box;
    display: grid;
    padding: 0.5rem;
    align-items: end;
}
.every a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    background-color: #e4e4e4;

}

.pages {
    display: grid;
    grid-auto-flow: column ;
    justify-content: end;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
}
.pages a {
    font-size: 22px;
    font-weight: 500;
    transition: 250ms;
    color: #000;
}

.every a:hover{
    background-color:  #f7f7f7;
}

#order{
    background-color: #aaa;
}
#order:hover{
    background-color: #f7f7f7;
}
.bimg{  
    box-sizing: border-box;
    overflow: hidden;
    height:fit-content ;
    background-image: url(icons/redback.png);
    background-size: 400px;
    margin: 5rem 0rem;
    border-radius: 30px;
    height: 1000px;   
}
.bback-color {
    box-sizing: border-box;
    height: 100%;
    /* overflow: hidden; */
    background-color: #f08989d0;
    padding: 3.5rem;
}
.bmgrid{
    height: 100%;
    position: relative; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 36% 62%;
    gap: 2rem;
}
.bimginfo { 
    display: grid;
    grid-template-rows: 78% 11% 11%;
}
.bigimg{
    display: flex;
    background-color: #301919e9;
    border-radius: 18px 18px 0px 0px;
    background-repeat:no-repeat ;
    align-items: center;
    justify-content: center;
}

.order{
    display: flex;
    box-sizing: border-box;
    background-color: #feefef;
    position: relative;
    left: 3.5rem;
    bottom: 1.7rem;
    text-align: center;
    background-blend-mode: color;
    /* border: solid 6px #80202050; */
    font-size: 17px;
    cursor: pointer;
    box-shadow: #d0d0d070 -11px 10px;
    transition: 150ms;
    overflow: hidden;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: .5rem;  
}

.order:hover{
    left: 4rem;
    bottom: 2rem;
    box-shadow: #d0d0d070 -11px 10px, #f0f0f040 -23px 20px;
}
.test{
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000000f4;
    border-radius: 0px 0px 18px 18px;
    /* border: solid 6px #ffffff50; */
    cursor: pointer;
    transition: 150ms;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight:600;
}
.test:hover{
    margin: -6px -6px 0 -6px;
    top: -8px;
    box-shadow: #60606070 0px 10px;
}
.bexplain{
    display: grid;
    grid-template-rows: 89.4% 10.6%;
}
.article{
    background-color: #fee0e0df;
    border-radius: 20px 20px 0 0;
    padding: 3rem;
}
.article h2 {
    text-align: center;
    font-size: 28px;
}
.blist{
    font-size: 20px;
    display: flex;
    line-height: 1.5rem;
    gap: 1rem;
    align-items: start ;
}
.whyb{
    width: 50%; 
    margin-left: -2.5rem
}
.whatb{
    width: 50%;
}

.readmore{
    position: relative;
    background-color: #fff0f0ff;
    border-radius: 0 0 20px 20px;
    /* border: solid 6px #80202050; */
    transition: 150ms;
    cursor: pointer;
    text-align: center;
}
.readmore:hover{
    /* border: solid 1px ; */
    margin: -5px -5px 0 -5px;
    top: -8px;
    box-shadow: #d0d0d070 0px 10px;
}
.mcontainer{
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(icons/mens\ logo\ 2.2.png );
    background-size: 420px;
    border-radius: 30px;
    height: 800px;
}
.mback{
    box-sizing: border-box;
    height: 100%;
    background-color: #8aaa8a9f;
    padding: 3.5rem;
}
.blocks{
    height: 100%;
    display: grid;
    border-radius: 20px;
    gap: 2rem;
    grid-template-columns: 62% 35%;
}
.marticle{
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 86% 14%;
    border-radius: 20px;
}
.mtext{
    background-color: #fff0f0de;
}
.mlearn{
    background-color: #f9fff9;
}
.mimage{
    overflow: hidden;
    display: grid;
    box-sizing: border-box;
    border-radius: 20px;
    grid-template-rows: 86% 14%;
}
.mens{
    background-color: #0f1f0ff0;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.morder{
    background-color: #000900;
}





.enan {
    display: grid;
    border-radius: 30px 30px 0 0;
    background-color: #60202090;
    height: 12rem;
    margin: 300px 0 0 0 ;
    /* color: #fff; */
    padding: 4rem;
    grid-template-columns: 1fr 1fr;

}
.ena {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    cursor: pointer;

}
.ena nav p {
    /* display: flex; */
    background-color: #00090010;
    border-left: solid 5px #00090090;
    border-radius: 3px;
    /* padding: 3px; */
    font-size: 17px;
    margin-left: 2em;
}

.enan2 {
    font-weight: 900;
    font-size: 70px;
    /* background-color: #000900; */
    
}
.enan1 p{
    margin-top:0 2rem;
}
.enan5{
    margin:0 5rem; 
    display: block;
    
}