
.grid-box{
    height: max-content;
    margin: 3rem 0;
    padding: 2rem;
}
.grid-box h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom:3rem;
}
.bigbox{
    padding: 2rem 3rem;
    border-radius: 14px;
    margin: 4rem 1rem ;
    background-color: #f0f0f0;
}
.bigbox1{
    padding: 0rem 3rem;
    border-radius: 14px;
    margin: 4rem 1rem ;
    background-color: #f0f0f0;
}
.mensimage{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.bigbox ul{
    line-height: 1.6;
    font-size: 18px;
}



