header {
    position: relative;
    z-index: 999;
    display: grid;
    background-color:   #f0f0f0;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding:2rem 2.5rem 1.5rem 2.5rem;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 15px #30303050;

}
#hugelogo{
    font: 900 90px 'Rubik', poppins, sans-serif;
}
.firsthead{
    display: grid;
    grid-template-columns: 60% 40% ;

}
.firsthead li {
    list-style-type: none;
}
.headlist{
    display: grid;
    justify-content: end;
    align-items: center;
    grid-auto-flow:column;
    column-gap: 1rem;
}

.back{
    width:1rem;
}

body{
    overflow-y: scroll;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    background-color:#fff;
    min-width: 160vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    text-decoration: none;
    color: #00f;
}

*{
    font-family: 'Rubik', poppins, sans-serif;
}

p {
    font-size:19px;
    line-height: 1.6em;
}
strong{
    font-size: 26px;
}
.borderleft{
    background-color: #80202050;
}

.every{
    box-sizing: border-box;
    display: grid;
    padding: 0.5rem;
    grid-template-columns: 20% 80%;
    align-items: end;
}
.every a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    background-color: #e4e4e4;
}

.pages {
    display: grid;
    grid-auto-flow: column ;
    justify-content: end;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
}
.pages a {
    font-size: 22px;
    font-weight: 500;
    transition: 250ms;
    color: #000;
}

.every a:hover{
    background-color:  #f7f7f7;
}

#order{
    background-color: #aaa;
}
#order:hover{
    background-color: #f7f7f7;
}
.grid-box{
    height: max-content;
    margin: 3rem 0;
    padding: 2rem;
}
.grid-box h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom:3rem;
}
.bigbox{
    padding: 2rem 3rem;
    border-radius: 14px;
    margin: 4rem 1rem ;
    background-color: #f0f0f0;
}
.bigbox1{
    padding: 0rem 3rem;
    border-radius: 14px;
    margin: 4rem 1rem ;
    background-color: #f0f0f0;
}
.mensimage{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.bigbox ul{
    line-height: 1.6;
    font-size: 18px;
}




.enan {
    display: grid;
    /* border-radius: 30px 30px 0 0; */
    background-color: #60202090;
    height: 12rem;
    /* margin: 100px 0 0 0 ; */
    padding: 4rem;
    grid-template-columns: 1fr 1fr;

}
.ena {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    cursor: pointer;

}
.ena nav p {
    /* display: flex; */
    background-color: #00090010;
    border-left: solid 5px #00090090;
    border-radius: 3px;
    /* padding: 3px; */
    font-size: 17px;
    margin-left: 2em;
}

.enan2 {
    font-weight: 900;
    font-size: 70px;
    /* background-color: #000900; */
    
}
.enan1 p{
    margin-top:0 2rem;
}
.enan5{
    margin:0 5rem; 
    display: block;
    
}